body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn1 {
    margin-left: 450px;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.firstsection {
    background-image: url(header-bg.jpg);
    background-size: cover;
}

#nav1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 500px;
    padding-left: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 1.7em;
}

.stb {
    margin-left: 100px;
}

a:hover {
    background-color: orange;
}

.imgcv {}

.contactsection {
    background-image: url(map-image.png);
    background-color: black;
  background-repeat: no-repeat;
  background-position: center;
    
}

.btn2 {
    margin-left: 380px;

}

.footer {
    text-align: center;
    font-size: 0.9rem;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm  {
 
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm  {
  font-weight: 700;
  color: #ced4da;
}
/*--Ceci est un test--*/

.vertical { 
margin-left: 170px;
border-left: 2px solid grey; 
height: 200px; 
display: inline-block;
} 
